:root{
    --text: #fff;
    --main: #080214;
    --btn-color: #6D29F6;
    --radius-get: 20px;
    --radius: 300px;
    --news: #FFC700;
    --slider: #C3B6FD;
    --slider-shadow: 
        0px 23.02px 7.67px 0px rgba(0, 0, 0, 0.1),
        0px 7.67px 7.67px 0px rgba(0, 0, 0, 0.16),
        0px 23.02px 61.39px 0px rgba(0, 0, 0, 0.15);
    --border: rgba(0, 0, 0, 0.04);
}

*, *:before, *:after{
    box-sizing: border-box;
}
html { scroll-behavior: smooth; }
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'HelveticaNeue', sans-serif;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

body {
    color: var(--text);
}

a {
    text-decoration: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ul{
    list-style: none;
}

button {
    cursor: pointer;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}